/* nth-last-child(2) is a hack because of the menu that contains an overflowed menu */
li.rc-menu-submenu-horizontal:not(:nth-last-child(2)) div::after {
  color: #fff;
  padding-left: 10px;
  content: '|';
}

.navbar-light .navbar-toggler {
  border: none;
}
