/* Custom styles */

@import './colors.scss';

// DecisionTree component
// .node {
//   .text {
//     font-size: 18px;
//     font-weight: bold;
//   }
// }
.decision-tree {
  .node {
    background: #eee;
    padding: 20px;
    display: inline-block;

    &.final {
      background: $color-primary;
      color: $color-light;

      a {
        color: $color-light;
      }
    }

    .text {
      display: inline-block;
      font-weight: bolder;
      font-size: 18px;
    }
    .action {
      color: $color-dark;
      border: 1px solid $color-dark;
      padding: 10px 40px;
      display: inline-block;
      margin: 20px 10px 0 0;
      text-align: center;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: bold;

      &:hover {
        background: $color-dark;
        color: $color-light;
      }
    }
  }

  .nav {
    .button {
      background-color: $color-secondary;
      color: $color-light;
      padding: 10px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
      margin: 30px 10px 10px 0;
      cursor: pointer;
      display: inline-block;

      &:hover {
        background-color: #4e9491;
      }
    }
  }

  .answers {
    display: inline-block;
    color: #444;
    margin: 20px 0;

    h4 {
      margin: 0;
    }

    .answer {
      margin: 10px 0;
    }
  }

  .decisionButton {
    padding: 5px 10px;
    margin-right: 10px;
    color: #fff;
    background-color: $color-secondary;
    border: none;
  }
}

// CookieConsent component
.CookieConsent {
  background: #000;
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  padding: 1rem;
  width: 440px;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  text-align: center;

  @media (max-width: 991px) {
    right: 50%;
    transform: translate(50%, 0);
    max-width: 90%;
  }

  button {
    background: $be-white;
    color: $be-black;
    margin-top: 1rem;
    width: 100%;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 2rem;
    cursor: pointer;

    &:hover {
      background: $gray-200;
    }
  }
}

.news-item-container {
  padding-top: 10px;
}
