// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
//
// Color system
//
@import "./colors.scss";
@import "./rc-menu.scss";

// Reassign color vars to semantic color scheme
$theme-colors: (
  primary: $purple,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
) !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-transitions: false !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 640px,
  lg: 1200px,
  xl: 1201px
) !default;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $gray-700 !default;
$inverse-bg: $gray-900 !default;
$inverse-color: $gray-600 !default;

// Links
//
// Style anchor elements.
$link-decoration: none !default;
$link-hover-decoration: none !default;

// Fonts
//
@import "./fonts.scss";

@import "node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

h1 {
  background-color: $be-black;
  display: inline-block;
  padding: 0.7rem 1rem;
  text-transform: uppercase;
  color: $be-white;
  margin-bottom: 2rem;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: $be-black;
}

a {
  color: $be-orange;
  font-weight: bold;
  &:hover,
  &:active {
    color: $be-orange;
  }
  text-decoration: underline;
}

img {
  padding-bottom: 10px;
  margin-bottom: 15px;
  max-width: 100%;
}

img:hover {
  animation: pulse 0.5s;
}

.navbar-brand img {
  margin-bottom: 0;
  padding-bottom: 0;
}

.navbar-nav {
  padding-left: 0;
}

@media (min-width: 992px) {
  .navbar-brand {
    position: absolute;
    margin-right: 3rem;
    margin-top: 2.5rem;
    background-color: $be-white;
    z-index: 1;
    > img {
      margin-bottom: 13px;
    }
  }
}

li.rc-menu-item.d-none {
  color: white;
  margin-right: 0.3rem;
}

@include media-breakpoint-down(sm) {
  .navbar-brand {
    max-width: 81px;
  }
}

@media (max-width: 1137px) {
  .searchForm {
    display: none;
  }
}
.searchInput {
  margin-bottom: 2rem;
}
.searchForm {
  > .form-control:focus {
    background-color: transparent !important;
    border-color: $be-white;
    color: $be-white;
  }
  > .form-control:-ms-input-placeholder {
    color: $be-white !important;
  }
  > .form-control::-ms-input-placeholder {
    color: $be-white !important;
  }
}

.navbar-be {
  background-color: $be-orange;
}

.faqSidebar--container {
  background-color: lighten($be-green, 30%);
  padding: 1rem;
  p {
    font-size: 1.25rem;
  }
}

.navbar-be__breadcrumbs-spacer {
  display: none;
}

.breadcrumbs {
  font-size: 2vw;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.2rem;
  @media (max-width: 992px) {
    margin-right: 0.2rem;
  }
  .arrow {
    // font-size: 1rem;
    color: #fff;
    margin-right: 10px;
  }
  a {
    text-decoration: none;
    color: #fff;
    // font-size: 1.5rem;
    margin-right: 10px;
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
  span {
    color: #fff;
    // font-size: 1.5rem;
  }
}

@include media-breakpoint-up(lg) {
  .navbar-be__breadcrumbs-spacer-orange {
    // border-top: $be-white 0.4rem solid;
    background: $be-orange;
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: 1.5rem;
  }
  .navbar-be__breadcrumbs-spacer-green {
    // border-top: $be-white 0.4rem solid;
    background: $be-green;
    display: block;
    padding: 0.5rem 1rem;
  }
}
.spacer-green {
  background: $be-green;
}
.navbar-be__breadcrumbs-container {
  background: $be-green;
  // border-top: $be-white 0.4rem solid;
  font-size: 2rem;
  color: $be-white;
  text-transform: uppercase;
  padding: 0;
}
.navbar-be__breadcrumbs {
  padding: 0.5rem 1rem;
}
.navbar-be .navbar-brand,
.navbar-be .navbar-text {
  color: rgba(255, 255, 255, 0.8);
}
.navbar-be .navbar-nav .nav-link {
  color: $be-white;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar-be .nav-item.active .nav-link,
.navbar-be .nav-item:hover .nav-link {
  color: $be-white;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar-toggler-icon {
  color: red;
  fill: white;
  // background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://ww…p='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iMzJweCIgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDMyIDMyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHdpZHRoPSIzMnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNNCwxMGgyNGMxLjEwNCwwLDItMC44OTYsMi0ycy0wLjg5Ni0yLTItMkg0QzIuODk2LDYsMiw2Ljg5NiwyLDhTMi44OTYsMTAsNCwxMHogTTI4LDE0SDRjLTEuMTA0LDAtMiwwLjg5Ni0yLDIgIHMwLjg5NiwyLDIsMmgyNGMxLjEwNCwwLDItMC44OTYsMi0yUzI5LjEwNCwxNCwyOCwxNHogTTI4LDIySDRjLTEuMTA0LDAtMiwwLjg5Ni0yLDJzMC44OTYsMiwyLDJoMjRjMS4xMDQsMCwyLTAuODk2LDItMiAgUzI5LjEwNCwyMiwyOCwyMnoiLz48L3N2Zz4=");
  padding-bottom: 0;
  margin-bottom: 0;
}
.footer {
  > div {
    padding-top: 0.8rem;
  }
  > a {
    color: $be-black;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem;
    text-decoration: none;
  }
}
.search-input {
  width: 162px !important;
  background-color: transparent;
  border-radius: 0;
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $be-white;
    font-weight: lighter;
    opacity: 1; /* Firefox */
  }
}

.nav-item > .active {
  font-weight: bold;
}

.navbar-nav .dropdown-menu {
  margin: 0;
  border-radius: 0;
  padding: 0;
  color: $be-black;
  background-color: lighten($be-green, 25%);

  > a {
    text-decoration: none;
    border-bottom: solid 2px #fff;
    &.active {
      background-color: $be-green;
    }
  }
  > a:last-child {
    border-bottom: transparent solid 2px;
  }
}

.dropdown-item {
  padding: 0.4rem 1rem;
}

.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

$link-button-width: 200px;
$link-button-gap: 2.5rem;
.link-container {
  display: flex;
  flex-wrap: wrap;
  > .link-button {
    margin-bottom: $link-button-gap;
    width: $link-button-width;
    min-width: $link-button-width;
    max-width: $link-button-width;
    height: 130px;
    padding: 20px;
    text-align: center;
    background-color: $be-dark-green;
    margin-right: $link-button-gap;
    @include media-breakpoint-down(xs) {
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }

    display: flex;
    flex-direction: column;
    justify-items: start;
    justify-content: space-between;

    text-transform: uppercase;
    text-decoration: none;
    color: $be-white;
    font-size: 1.2rem;
    word-break: break-word;
    word-wrap: break-word;
    // background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://ww…p='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    // background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iMzJweCIgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDMyIDMyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHdpZHRoPSIzMnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNNCwxMGgyNGMxLjEwNCwwLDItMC44OTYsMi0ycy0wLjg5Ni0yLTItMkg0QzIuODk2LDYsMiw2Ljg5NiwyLDhTMi44OTYsMTAsNCwxMHogTTI4LDE0SDRjLTEuMTA0LDAtMiwwLjg5Ni0yLDIgIHMwLjg5NiwyLDIsMmgyNGMxLjEwNCwwLDItMC44OTYsMi0yUzI5LjEwNCwxNCwyOCwxNHogTTI4LDIySDRjLTEuMTA0LDAtMiwwLjg5Ni0yLDJzMC44OTYsMiwyLDJoMjRjMS4xMDQsMCwyLTAuODk2LDItMiAgUzI5LjEwNCwyMiwyOCwyMnoiLz48L3N2Zz4=");
  }
  .link-button__line {
    width: 100%;
    padding: 0 55px;
  }
}

$margin-top-containers: 0.4rem;

.greenContainer {
  background: $be-green;
  margin-top: 0.2rem;
  min-height: 5rem;
  text-align: center;
  padding: 16px;
  h1 {
    background: transparent;
    text-align: center;
    font-size: 2.2rem;
    letter-spacing: 2px;
    @include media-breakpoint-up(md) {
      font-size: 4vw;
    }
    @include media-breakpoint-up(lg) {
      font-size: 2.2rem;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    color: $be-white;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
    text-decoration: none;
    @include media-breakpoint-up(md) {
      font-size: 2.5vw;
    }
    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
    }
  }
  a {
    color: $be-white;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
    text-decoration: none;
    @include media-breakpoint-up(md) {
      font-size: 2.5vw;
    }
    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  @include media-breakpoint-up(lg) {
    padding: 1rem 15% 1rem 15%;

    h1 {
      padding: 0 15%;
    }
  }
}

.imagesContainer {
  display: flex;
  margin-top: $margin-top-containers;

  section {
    position: relative;
    text-align: center;
    p {
      position: absolute;
      color: $be-white;
      font-size: 2vw;
      text-transform: uppercase;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
      letter-spacing: 2px;

      @include media-breakpoint-up(sm) {
        font-size: 1.5vw;
      }
      @include media-breakpoint-up(lg) {
        font-size: 2vw;
      }
    }
    img {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }
}

.homeButtons {
  margin-top: 2rem;
  > .link-container {
    justify-content: center;
  }
  > .link-container > a.link-button {
    background-color: $be-orange !important;
  }
}

.searchResultNavigationItem {
  font-size: normal;
  text-decoration: none;
  > h4 {
    margin-bottom: 0.2rem;
  }
  > p {
    font-size: 14px;
    margin-bottom: 2rem;
  }
}

input {
  padding: 5px 7px;
  border: 0px solid transparent;
  background: $be-light-green;
}
